<div ng-controller="MainCtrl">
    <h2 class="text-center">{{calendarTitle}}</h2>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group">
                <button class="btn btn-primary"
                        ng-click="modalRegisterUserSubject()">
                    <i class="glyphicon glyphicon-plus"></i> Asignar Ramo
                </button>
                <button class="btn btn-primary"
                        ng-click="modalNewReview()">
                    <i class="glyphicon glyphicon-plus"></i> Registrar Evaluacion
                </button>
            </div>
        </div>
    </div>

    <br>

    <mwl-calendar
            view="calendarView"
            view-date="viewDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>

    <br>

    <div class="row">
        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        decrement="calendarView"
                        ng-click="cellIsOpen = false">
                    <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i> Anterior
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="viewDate"
                        set-to-today
                        ng-click="cellIsOpen = false">
                    Hoy <i class="glyphicon glyphicon-hand-down" aria-hidden="true"></i>
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        increment="calendarView"
                        ng-click="cellIsOpen = false">
                    Siguiente <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-default disabled" ><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Día</label>
            </div>
        </div>

    </div>

    <br>

     <script type="text/ng-template" id="modalNewReview.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Registrar Evaluación</h3>
        </div>
            <div class="modal-body">
                <div class="row">
                    <div class='col-md-12'>
                        <div class="form-group">
                                <label for="inputAsignaturaNewReview">Asignatura</label>
                            <select class="form-control" id="inputAsignaturaNewReview" ng-model="newReview.subject_id" ng-options="item.id as item.name for item in userSubjects">
                                <option value="" selected="selected" hidden="hidden">Seleccionar...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label for="inputTituloNewReview">Titulo</label>
                            <input type="text" class="form-control" id="inputTituloNewReview" ng-model="newReview.title" placeholder="Titulo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label for="inputColorPrimario">Color Primario</label>
                            <input type="color" class="form-control" id="inputColorPrimario" ng-model="newReview.primary_color">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-12'>
                        <div class="form-group">
                            <label for="inputColorSecundario">Color Secundario</label>
                            <input type="color" class="form-control" id="inputColorSecundario" ng-model="newReview.secondary_color">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-6'>
                            <div class="form-group">
                                <label for="inputFechaInicio">Fecha Inicio</label>
                                <p class="input-group">
                                    <input type="text" id="inputFechaInicio" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newReview.start_date" is-open="fechaInicio.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="abrirFechaInicio()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label for="inputFechaTermino">Fecha Término</label>
                            <p class="input-group">
                                <input type="text" id="inputFechaTermino" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newReview.end_date" is-open="fechaTermino.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="abrirFechaTermino()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label for="inputHoraInicio">Hora Inicio</label>
                            <div uib-timepicker id="inputHoraInicio" ng-model="newReview.start_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class="form-group">
                            <label for="inputHoraTermino">Hora Término</label>
                            <div uib-timepicker id="inputHoraTermino" ng-model="newReview.end_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="saveReview()">OK</button>
                    <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
    </script>

    <script type="text/ng-template" id="modalEditarReview.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Editar Evaluación</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputAsignaturaEditarReview">Asignatura</label>
                        <select class="form-control" id="inputAsignaturaEditarReview" ng-model="review.subject_id" ng-options="item.id as item.name for item in userSubjects"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputTituloEditarReview">Titulo</label>
                        <input type="text" class="form-control" id="inputTituloEditarReview" ng-model="review.title" placeholder="Titulo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputColorPrimarioEditar">Color Primario</label>
                        <input type="color" class="form-control" id="inputColorPrimarioEditar" ng-model="review.primary_color">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputColorSecundarioEditar">Color Secundario</label>
                        <input type="color" class="form-control" id="inputColorSecundarioEditar" ng-model="review.secondary_color">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputFechaInicioEditar">Fecha Inicio</label>
                        <p class="input-group">
                            <input type="text" id="inputFechaInicioEditar" class="form-control" uib-datepicker-popup="{{format}}" ng-model="review.start_date" is-open="fechaInicio.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="abrirFechaInicio()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputFechaTerminoEditar">Fecha Término</label>
                        <p class="input-group">
                            <input type="text" id="inputFechaTerminoEditar" class="form-control" uib-datepicker-popup="{{format}}" ng-model="review.end_date" is-open="fechaTermino.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="abrirFechaTermino()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputHoraInicioEditar">Hora Inicio</label>
                        <div uib-timepicker id="inputHoraInicioEditar" ng-model="review.start_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputHoraTerminoEditar">Hora Término</label>
                        <div uib-timepicker id="inputHoraTerminoEditar" ng-model="review.end_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputNotaEditarReview">Nota</label>
                        <input type="text" class="form-control" id="inputNotaEditarReview" ng-model="review.score" placeholder="Nota">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="submitReview()">OK</button>
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalReview.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Ver Evaluación</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputTituloReview">Titulo</label>
                        <input disabled="disabled" type="text" class="form-control" id="inputTituloReview" ng-model="review.title" placeholder="Titulo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputColorPrimarioVer">Color Primario</label>
                        <input disabled="disabled" type="color" class="form-control" id="inputColorPrimarioVer" ng-model="review.primary_color">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="form-group">
                        <label for="inputColorSecundarioVer">Color Secundario</label>
                        <input disabled="disabled" type="color" class="form-control" id="inputColorSecundarioVer" ng-model="review.secondary_color">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputFechaInicioVer">Fecha Inicio</label>
                        <p class="input-group">
                            <input disabled="disabled" type="text" id="inputFechaInicioVer" class="form-control" uib-datepicker-popup="{{format}}" ng-model="review.start_date" is-open="fechaInicio.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                            <span class="input-group-btn">
                                <button disabled="disabled" type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputFechaTerminoVer">Fecha Término</label>
                        <p class="input-group">
                            <input disabled="disabled" type="text" id="inputFechaTerminoVer" class="form-control" uib-datepicker-popup="{{format}}" ng-model="review.end_date" is-open="fechaTermino.opened" close-text="Close" placeholder="DD/MM/YYYY"/>
                            <span class="input-group-btn">
                                <button disabled="disabled" type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputHoraInicioVer">Hora Inicio</label>
                        <div ng-disabled="true" uib-timepicker id="inputHoraInicioVer" ng-model="review.start_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputHoraTerminoVer">Hora Término</label>
                        <div ng-disabled="true" uib-timepicker id="inputHoraTerminoVer" ng-model="review.end_hour" hour-step="1" minute-step="1" show-meridian="false"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <label for="inputNotaReview">Nota</label>
                        <input type="text" class="form-control" id="inputNotaReview" ng-model="review.score" placeholder="Nota" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="modalDelete.html">
      <div class="modal-body">
          <h3 class="modal-title">Evaluación Borrada</h3>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeModal()">OK</button>
      </div>
    </script>

    <script type="text/ng-template" id="modalRegisterScore.html">
      <div class="modal-header">
            <h3 class="modal-title text-center">Registrar Evaluación</h3>
        </div>
      </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputScore">Nota</label>
                <input type="number" class="form-control" id="inputScore" ng-model="review.score" placeholder="Nota">
            </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveScore()">OK</button>
            <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
      </div>
    </script>

    <script type="text/ng-template" id="modalShowUpdate.html">
      <div class="modal-body">
        <pre> <h3 class="modal-title">{{title}}</h3> <br>
        <h3 class="modal-title"> Nota: {{score}} </h3></pre>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeModal()">OK</button>
      </div>
    </script>


    <script type="text/ng-template" id="modalRegisterUserSubject.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Asignar Ramo</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputAsignatura">Asignaturas</label>
                <select class="form-control" id="inputAsignatura" ng-model="newUserSubject.subject_id" ng-options="item.id as item.name for item in subjects">
                    <option value="" selected="selected" hidden="hidden">Seleccionar...</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputSemestreModalRegisterUserSubject">Semestre</label>
                <input type="text" class="form-control" id="inputSemestreModalRegisterUserSubject" ng-model="newUserSubject.semester" placeholder="Semestre">
                <span class="help-block">Ejemplo: 2016-2</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary pull-left" type="button" ng-click="modalNewSubject()"><i class="glyphicon glyphicon-plus"></i> Registrar Asignatura</button>
            <button class="btn btn-primary" type="button" ng-click="saveUserSubject()">OK</button>
            <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="modalNewSubject.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Nueva Asignatura</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputTituloModalNewSubject">Titulo</label>
                <input type="text" class="form-control" id="inputTituloModalNewSubject" ng-model="newSubject.name" placeholder="Titulo">
            </div>
            <div class="form-group">
                <label for="inputSiglaModalNewSubject">Sigla</label>
                <input type="text" class="form-control" id="inputSiglaModalNewSubject" ng-model="newSubject.initials" placeholder="Sigla">
            </div>
            <div class="form-group">
                <label for="inputCreditosModalNewSubject">Creditos</label>
                <input type="number" class="form-control" id="inputCreditosModalNewSubject" ng-model="newSubject.credits" placeholder="Creditos">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="saveSubject()">OK</button>
            <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
        </div>
    </script>

</div>