<div ng-controller="MainCtrl">
    <h2 class="text-center">{{calendarTitle}}</h2>

    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-primary"
                    ng-click="modalNewReview()">
                <i class="glyphicon glyphicon-plus"></i> Nuevo evento
            </button>
        </div>
        <div class="col-md-12 text-left">
            <button class="btn btn-primary"
                    ng-click="modalShowUsers()">
                <i class="glyphicon glyphicon-plus"></i> Mostrar Usuarios
            </button>
            <!--<input type="text"  id="inputTitulo" ng-model="user_id" placeholder="Id de Usuario">-->
            <button class="btn btn-primary"
                    ng-click="modalShowUser()">
                <i class="glyphicon glyphicon-plus"></i> Buscar Usuario
            </button>

            <button class="btn btn-primary"
                    ng-click="modalRegisterSubjectEvent()">
                <i class="glyphicon glyphicon-plus"></i> Asignar Ramos
            </button>
        </div>
    </div>

    <br>

    <mwl-calendar
            view="calendarView"
            view-date="viewDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>

    <br>

    <div class="row">
        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        decrement="calendarView"
                        ng-click="cellIsOpen = false">
                    <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i> Anterior
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="viewDate"
                        set-to-today
                        ng-click="cellIsOpen = false">
                    Hoy <i class="glyphicon glyphicon-hand-down" aria-hidden="true"></i>
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="viewDate"
                        increment="calendarView"
                        ng-click="cellIsOpen = false">
                    Siguiente <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-default disabled" ><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
                <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Día</label>
            </div>
        </div>

    </div>

    <br>
    <!--<script type="text/ng-template" id="modalNewEvent.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Nuevo Evento</h3>
        </div>
        <form>
            <div class="modal-body" id="modal-body">

                    <div class="form-group">
                        <label for="inputAsignatura">Asignatura</label>
                        <input type="email" class="form-control" id="inputAsignatura" ng-model="asignatura" placeholder="Asignatura">
                    </div>
                    <div class="form-group">
                        <label for="inputTitulo">Titulo</label>
                        <input type="text" class="form-control" id="inputTitulo" ng-model="titulo" placeholder="Titulo">
                    </div>
                    <div class="form-group">
                        <label for="inputFecha">Fecha</label>
                        <input type="date" class="form-control" id="inputFecha" ng-model="fecha" placeholder="DD/MM/AAAA">
                    </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="submitModal()">OK</button>
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
        </form>
    </script>-->

     <script type="text/ng-template" id="modalNewReview.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Nueva Evaluación</h3>
        </div>
            <div class="modal-body" id="modal-body">
                <div class="form-group">
                        <label for="inputAsignatura">Asignatura</label>
                        <select class="form-control" id="asignatura" ng-model="newReview.asignatura">
                         <option ng-repeat="item in subjects" ng-value="item.ramos.id">{{item.ramos.sigla}}</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="inputTitulo">Titulo</label>
                    <input type="text" class="form-control" id="inputTitulo" ng-model="newReview.title" placeholder="Titulo">
                </div>
                <div class="form-group">
                    <label for="inputColorPrimario">Color Primario</label>
                    <input type="color" class="form-control" id="inputColor" ng-model="newReview.colorPrimary">
                </div>
                <div class="form-group">
                    <label for="inputColorSecundario">Color Secundario</label>
                    <input type="color" class="form-control" id="inputColorSecundario" ng-model="newReview.colorSecondary">
                </div>
                <div class='input-group date'>
                    <label for="inputFechaInicio">Fecha Inicio</label>
                    <input type="text" class="form-control" id='inputFechaInicio' ng-model="newReview.fechaStartsAt" placeholder="DD/MM/AAAA"/>
                </div>
                <div class='input-group date'>
                    <label for="inputFechaTermino">Fecha Termino</label>
                    <input type="text" class="form-control" id="inputFechaTermino" ng-model="newReview.fechaEndsAt" placeholder="DD/MM/AAAA"/>
                </div>
                <div class="form-group">
                    <label for="inputNota">Nota:</label>
                    <input type="text" class="form-control" id="inputNota" ng-model="newReview.note" >
                </div>                    
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="modalShowUser()">OK</button>
                    <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
            <script type="text/javascript">
                        $(function () {
                            $('#inputFechaInicio').datetimepicker();
                            $('#inputFechaTermino').datetimepicker();
                            });
                        </script>

    </script>
    


    <script type="text/ng-template" id="modalShowUsers.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mostrar Usuarios</h3>
        </div>
            <div class="modal-body" id="modal-body">
                 <!--<pre ng-repeat="user in users">{{ user | json }}</pre>-->
                 <pre >{{ userOne | json }}</pre>
                 <pre >{{ hola }}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
    </script>

    <script type="text/ng-template" id="modalfindUser.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Buscar Usuario</h3>
        </div>
            <div class="modal-body" id="modal-body">
                 <pre >
                    <label for="idUsuario">Id Usuario:</label>
                    <input type="text"  id="idUser" ng-model="user_id" placeholder="Id de Usuario"></pre>
                 <pre >{{ user_id }}</pre>
                 <pre >{{ users }}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="findUser()">OK</button>
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
    </script>

    <script type="text/ng-template" id="modalShowUser.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mostrar Usuario</h3>
        </div>
            <div class="modal-body" id="modal-body">
                 <pre>{{ users | json }}</pre>
                  <!--<pre>{{ users.user.subjects }}</pre>-->
                 <!--<pre >{{ user_id }}</pre>-->
                 <!--<pre >{{ item.ramos.sigla }}</pre>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
    </script>

    <script type="text/ng-template" id="modalRegisterSubject.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Asignar Ramo</h3>
        </div>
            <pre style="text-align: center">{{ users.fullname}}</pre>
            <pre style="text-align: center"> Asignatura(s) <br><br/><label  ng-repeat="item in users.subjects">{{ item.sigla}} </pre>
            <div class="modal-body" id="modal-body">
                <div class="form-group">
                        <label for="inputAsignatura">Asignatura</label>
                        <select class="form-control" id="asignatura" ng-model="subject.asignatura">{{subjects}}
                         <!--<option ng-repeat="item in subjects" ng-value="item.sigla">{{item.sigla}}</option>-->
                        </select>
                </div>
                <div class="form-group">
                    <label for="inputTitulo">Titulo</label>
                    <input type="text" class="form-control" id="inputTitulo" ng-model="newReview.title" placeholder="Titulo">
                </div>
            
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="modalShowUser()">OK</button>
                    <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
                </div>
            </div>
    </script>

    <script type="text/ng-template" id="modalShow.html">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mostrar </h3>
        </div>
            <div class="modal-body" id="modal-body">
                 <pre>{{ reviews | json }}</pre>
                  <!--<pre>{{ users.user.subjects }}</pre>-->
                 <!--<pre >{{ user_id }}</pre>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" ng-click="closeModal()">Cancel</button>
            </div>
    </script>

     

</div>