<div ng-controller="MainCtrl">
<h2 class="text-center">{{calendarTitle}}</h2>
<div class="row">

    <div class="col-md-6 text-center">
        <div class="btn-group">

            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    decrement="vm.calendarView"
                    ng-click="vm.cellIsOpen = false">
                Anterior
            </button>
            <button
                    class="btn btn-default"
                    mwl-date-modifier
                    date="vm.viewDate"
                    set-to-today
                    ng-click="vm.cellIsOpen = false">
                Hoy
            </button>
            <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="vm.viewDate"
                    increment="vm.calendarView"
                    ng-click="vm.cellIsOpen = false">
                Siguiente
            </button>
        </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Día</label>
        </div>
    </div>

</div>

<br>

<mwl-calendar
        view="calendarView"
        view-date="viewDate"
        events="events"
        view-title="calendarTitle"
        on-event-click="eventClicked(calendarEvent)"
        on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="true">
</mwl-calendar>

</div>